@use 'functions';
@use "@unsass/breakpoint";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
    --bg-color: #001328;
    --bg-color-dark: #000e1e;
    --semi-dark-color: #1e2c57;
    --normal-color: #072969;
    --semi-light-color: #8a909a;
    --light-color: #D3D9D6;
    --tech-color: #c6d6eb;
    --text-color: #D3D9D6;
}

html,
body {
    background-color: linear-gradient(var(--bg-color-dark), var(--bg-color));
    scroll-behavior: smooth;
}

body {
    font-family: "inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

h1 {
    font-size: functions.toRem(36);
}

h2 {
    font-size: functions.toRem(16);
    color: var(--semi-light-color);
    opacity: 0.9;
}

h3 {
    font-size: functions.toRem(16);
}

h4 {
    font-size: functions.toRem(14);
    font-weight: 500;
    color: var(--text-color);
}

h5 {
    font-size: functions.toRem(18);
}

h6 {
    font-size: functions.toRem(16);
}

p {
    font-size: functions.toRem(16);
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-weight: 300;
    color: var(--semi-light-color)
}

a {
    accent-color: var(--accent-color);
    color: var(--tech-color);
    font-weight: 500;
    text-decoration: none;
    opacity: 0.75;
    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}