@use 'functions';
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
    --bg-color: #191E26;
    --text-color: #fff;
}

body {
    font-family: "inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}